<?xml version="1.0" encoding="utf-8"?>
<configuration>
		<connectionStrings>
			<add name="DBECommerce" 
				 connectionString="Server=MSI\SQLEXPRESS; Initial Catalog=BW_BE_S3_Ecommerce ; Integrated Security= true" providerName="System.Data.SqlClient"/>
		</connectionStrings>
	<system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>

</configuration>